build/
uml-source/*.png
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.snm
*.nav
*.synctex.gz
entwurf.synctex.gz(busy)'
entwurf-presentation.pdf
entwurf.pdf
entwurf.synctex/
