<?xml version = "1.0" encoding = "utf-8"?>
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>

        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/treffpunkt?serverTimezone=UTC
        </property>

        <property name="hibernate.connection.username">
            treffpunkt
        </property>

        <property name="hibernate.connection.password">
            treffpw
        </property>

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <property name="hibernate.show_sql">
            true
        </property>

    </session-factory>
</hibernate-configuration>