<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pispeb.treff_client">

    <!-- internet connection -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- osmdroid permissions: user location and map tile caching -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".view.util.TreffPunkt">

        <activity
            android:name=".view.login.LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.home.HomeActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.group.GroupActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.group.GroupSettingsActivity"/>

        <activity
            android:name=".view.settings.SettingsActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".view.about.AboutActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".view.friend.FriendActivity"/>
        <activity android:name=".view.home.friendList.AddFriendActivity"/>
        <activity android:name=".view.home.groupList.AddGroupActivity"/>
        <activity android:name=".view.group.eventList.AddEventActivity"/>

        <service
            android:name=".data.gps_handling.GPSProvider"
            android:exported="false"
            android:description="@string/gps_service_description"/>

    </application>

</manifest>